/* Mobile */

@media (min-width: $mobile-width) {

    .wrapper {
        margin: 0 auto;
        width: 265px;
    }
    
     /* TITLE & SUBTITLE STYLE */   
    
     .title {
        color: #000000;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
    }
    
    .subtitle {
        color: #333333;
        font-size: 14px;
        line-height: 26px;    
        text-align: center;
        margin: 20px auto;
        text-transform: uppercase;
    }
    
    
    /* HEADER STYLES */
    
    .header {
        background-image: url('/img/back-mobile-jpg.jpg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-position-y: bottom;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
    
        &::before {
            position: absolute;
            bottom: -1px;
            content: '';
            background-image: url('/img/intro-triangle.png');
            background-position: 50%;
            background-repeat: no-repeat;
            width: 100%;
            height: 57px;
        }
    
        &__nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 90px;
        }
    }
    
    .main-nav {
        background-color: white;
        height: 50px;
        width: 100%;
    
        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;
            position: relative;
            top: 50px;
            background-color: #fff;
            width: 100%;
            z-index: 2;
        }

        &__item {
            text-align: center;
            list-style: none;
            height: 55px;
        
            &:hover {
                cursor: pointer;
            }
        
            &--mobile {
                color: $white;
                background-color: $skyblue;
                line-height: 60px;
                border-bottom: 2px solid rgba(1, 1, 1, 0.2);
                text-transform: uppercase;
                width: 100%;
            }
        
            &--logotype {
                display: none;
            }
        }

        &__toggle {
            position: absolute;
            background-color: $skyblue;
            outline: none;
            top: 25px;
            right: 40px;
            border: none;
            width: 23px;
            height: 4px;    
            transition: all 0.35s ease-in;
            
        
            &::after,
            &::before {
                content: '';
                position: absolute;
                top: -9px;
                left: 0px;
                width: 23px;
                height: 4px;
                background-color: $skyblue;
            }
        
            &::after {
                top: 9px;
            }
        
            &:hover {
                cursor: pointer;
            }
        }
    }
    
    
    .mobile-hidden {
        display: none;
        background-color: $skyblue;
        transition: all 0.35s ease-in;
    }
    
    
    .header__logo-image {
        background-image: url('/img/text-index-svg.png');
        background-repeat: no-repeat;
        background-position: 50%;
        margin-bottom: 85px;
        width: 100%;
        height: 214px;
        background-size: 282px auto;
        position: relative;
        top: -20px;
        
        @media (min-resolution: $retina-dpi),
                (min-resolution: $retina-dppx) {
            background-image: url('/img/text-index-svg@2x.png');
        }
    }
    
    .animation--togle {
        background-color: transparent;
        transition: all 0.35s ease-in;
    
        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 23px;
            height: 4px;
            background-color: $skyblue;
            transform: rotate(-45deg);
            transition: all 0.35s ease-in;
        }
    
        &::after {
            transform: rotate(45deg);
        }
    }
    
    
    /* FEATURE SECTION STYLES */
    
    .feature {
        margin-top: 43px;

        &__list {
            padding: 0;
            margin: 0;
            margin-top: 43px;
        }

        &__item {
            list-style: none;
            position: relative;
            padding-bottom: 20px;
        }
    }
    
    .feature__list.feature__list--graybackground {
        background: #eeeeee;
        margin-top: -10px;
    }
    
    
    .banner {
        &__about {
            background-color: $skyblue;
            padding-bottom: 20px;
            position: relative;
        
            &--triangle-background {
                padding-top: 20px;
            
                &::after {
                    position: absolute;
                    content: '';
                    top: -10px;
                    background-image: url('/img/white.png');
                    background-repeat: no-repeat;
                    background-position: 50%;
                    width: 100%;
                    height: 37px;
                }
            }
        }
    
        &__title {
            color: $white;   
            padding-top: 43px; 
    
            br {
                display: none;
            }
        }

        &__subtitle {
            color: $white;
            margin-top: 15px;
            margin-bottom: 15px;

            br {
                display: none;
            }
        }

        &__number {
            color: $white;    
        }
    }
    
    .feature__banner {
        margin-top: 90px;
    }
    
    .number {
        font-size: 16px;
        display: block;
        position: relative;
        width: 40px;
        height: 25px;
        margin: 15px auto;
        text-align: center;

        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 9px;
            height: 1px;
            background-color: $white;
            top: 11px;
            left: 45px;
        }
    }
        
    
    .banner__image {
        
    }
    
    .banner__content-img {
        width: 100%;
        height: auto;
    }
    
    
    .item {
        &__title {
            padding-left: 70px;
            text-align: left;
        }
        
        &__subtitle {
            margin: 0;
            margin-top: 20px;
            margin-bottom:40px;
            padding-left: 70px;
            text-align: left;
            line-height: 1.44;
        
            br {
                display: none;
            }
        }

        &--home::before,
        &--food::before,
        &--souvenirs::before {
            position: absolute;
            top: -15px;
            left: 15px;
            content: '';
            background-repeat: no-repeat;
        }
    
        &--home::before {
            background-image: url('/img/icon-house.png');
            width: 39px;
            height: 37px;
        }
        
        &--food::before {
            background-image: url('/img/icon-burger.png');
            width: 40px;
            height: 35px;
        }
    
        &--souvenirs::before {
            background-image: url('/img/icon-gift.png');
            width: 32px;
            height: 38px;
        }
    }
    
    
    .feature__title {
        padding-top: 43px;
    }
    
    .feature__title.title br {
        display: none;
    }
    
    .feature__number.number::after,
    .feature__number.number::before {
        background-color: $black;
    }
    
    .feauture__subtitle.subtitle br {
        display: none;
    }
    
    /* HOTEL SECTION STYLE */
    
    
    .hotel {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 35px;
    
        &__button {
            color: $white;
            border: none;
            background-color: $skyblue;
            font-size: 21px;
            font-weight: 700;
            text-transform: uppercase;
            width: 280px;
            height: 58px;
            margin-top: 40px;
            margin-bottom: 50px;
        }
    }
    
    .map {
        &__image {
            width: 100%;
            height: auto;
        }
    }
    
    
    
    /* FOOTER SECTION STYLE */
    
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fefefe;
        padding-top: 20px;
        padding-bottom: 20px;
    
        &__hastag {
            font-size: 21px;
            font-weight: 700;
            line-height: 1.24;
        }
    
        &__social {
    
        }
    }
    
    
    .social-list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    
        &__item {
            background-color: $skyblue;
            background-position: 50%;
            background-repeat: no-repeat;
            position: relative;
            list-style: none;
            margin: 5px;
            width: 50px;
            height: 50px;
        
            &:hover {
                background-color: $hover-skyblue;
            }
        
            &--twitter {
                background-image: url('/img/icon-twitter-svg.png');
            }
            &--facebook {
                background-image: url('/img/icon-facebook.png');
            }
            &--youtube {
                background-image: url('/img/icon-youtube-svg.png');
            }
        }
    }
    
    .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        &__text {
            padding-right: 20px;
        }
    
        &__logo {}
    }
    
    
    }
    

